.container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 20px;
}

.line {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.category {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.category > img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
