.box {
  width: 500px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.name {
  border: 1px solid transparent;
  background-color: gray;
  font-weight: 700;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
  /* font-family: "Courier New", Courier, monospace; */
  /* line-height: 400px; 행간 */
  /* text-transform: uppercase; 글 모양 바꾸기 */
  /* word-spacing: 20px; 자간 */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
